<section class="container">
  <section class="dragg-list">
    <div class="dragg alert alert-primary" *ngIf="(item$ | async) as item">
      <span class="heading">
        <h2>{{item?.item.by}} <span class="badge badge-pill badge-primary">{{item?.item.score}}</span></h2>
        <div>{{item?.item.time | date}}</div>
      </span>

      <div>{{item?.item.title}}</div>


      <div class="dock alert alert-light" *ngFor="let item of item?.childItem$Array ">
        <span class="heading">
          <strong>{{item?.by}}</strong>
          <div>{{item?.time | date}}</div>
        </span>
        <markdown>{{item?.text}}</markdown>
      </div>
    </div>


  </section>
